<section class="about-works">
  <div class="catalog-container about-works-container">
    <div class="catalog-container-row">
      <div class="catalog-title-row">
        <h2 class="catalog-title">Как мы работаем</h2>
      </div>
    </div>
    <div class="about-works-row">
      <div class="about-works-content">
        <div class="content-title before-1">Выберите товар</div>
        <p class="content-text">
          Выберите на сайте товар подходящий товар и нажмите на кнопку "Купить"
        </p>
      </div>
      <div class="about-works-content">
        <div class="content-title before-2">Оформите заказ</div>
        <p class="content-text">Заполните простую форму и ожидайте звонка нашего менеджера</p>
      </div>
      <div class="about-works-content">
        <div class="content-title before-3">Получите товар</div>
        <p class="content-text">
          Доставим вам в Течение дня, доставка в основном день в день максимально быстрая доставка
        </p>
      </div>
    </div>
  </div>
</section>
