<section class="catalog" id="catalog">
  <div class="catalog-container">
    <div class="catalog-container-row">
      <div class="catalog-title-row">
        <div class="catalog-subtitle">Каталог</div>
        <h2 class="catalog-title">Магнитно-маркерные доски</h2>
      </div>
      <div class="catalog-product-number">
        <div class="product-number-inner">12</div>
        <div class="product-number-text">Товаров</div>
      </div>
    </div>
  </div>
  <div class="magnit-mark-table product-cart-container">
    @@loop("magnit-mark-table.html", "../../data/magnit-mark-table.json")
  </div>
  <div class="catalog-container">
    <div class="catalog-container-row">
      <div class="catalog-title-row">
        <h2 class="catalog-title">Флипчарты</h2>
      </div>
    </div>
  </div>
  <div class="magnit-mark-table product-cart-container">
    @@loop("flipchart-table.html", "../../data/flipchart.json")
  </div>
  <div class="catalog-container">
    <div class="catalog-container-row">
      <div class="catalog-title-row">
        <h2 class="catalog-title">Пробковые Доски</h2>
      </div>
    </div>
  </div>
  <div class="magnit-mark-table product-cart-container">
    @@loop("probkovye-dosky.html", "../../data/probkovye-dosky.json")
  </div>
  <div class="catalog-container">
    <div class="catalog-container-row">
      <div class="catalog-title-row">
        <h2 class="catalog-title">
          Маркерные доски для офиса. Маркерные доски для дома. Маркерные доски для рисования.
          Маркерные Доски для Заметок маркером.
        </h2>
      </div>
    </div>
  </div>
</section>
