<header class="footer" id="footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-left">
        <div class="footer-logo">
          <a href="#">
            <img src="img/kazdelta.png" alt="kazdelta" />
            <span>Самые лучшие доски в Казахстане</span>
          </a>
        </div>
        <ul class="footer-inner-row">
          <li class="footer-inner-links">
            <a href="#" class="footer-inner-link">Главная</a>
          </li>
          <li class="footer-inner-links">
            <a href="#catalog" class="footer-inner-link">Каталог</a>
          </li>
          <li class="footer-inner-links">
            <a href="#services" class="footer-inner-link">Преимущества</a>
          </li>
          <li class="footer-inner-links">
            <a href="#footer" class="footer-inner-link">Контакты</a>
          </li>
          <li class="footer-inner-links">
            <a href="#" class="footer-inner-link">kaz-delta@yandex.kz <br> г. Алматы, ул. Поддубного 124а</a>
          </li>
        </ul>
      </div>
      <div class="footer-right">
        <div class="footer-icon">
          <a href="#">
            <img src="img/whatsapp.png" alt="whatsapp" />
          </a>
        </div>
        <div class="footer-mobile-links">
          <a href="#" class="footer-mobile-link">+7 727 317 74 17</a>
          <a href="#" class="footer-mobile-link">+7 708 191 14 87</a>
        </div>
        <div class="footer-callback-row">
          <button class="request-call">Заказать звонок</button>
          <a href="#" class="whatsapp-request">Написать на WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</header>


</body>
<script src="js/main.js"></script>
</html>