<section class="form">
  <div class="form-container">
    <div class="form-container-row">
      <div class="row-right">
        <div>
          <img src="../img/4.png" alt="Whiteboard-Lead" />
        </div>
      </div>
      <div class="form-row-right">
        <div class="row-right-inner">
          <form action="form" class="form">
            <h2>Остались вопросы?</h2>
            <input class="form-input" type="text" placeholder="Имя" />
            <input class="form-input" type="phone" placeholder="Телефон" />
            <div class="form-btn">
              <button class="request-call">Оставить заявку</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
