<header class="header">
  <div class="header-container">
    <div class="header-row">
      <div class="header-left">
        <div class="header-logo">
          <a href="#">
            <img src="img/kazdelta.png" alt="kazdelta" />
          </a>
        </div>
        <ul class="header-inner-row">
          <li class="header-inner-links">
            <a href="#" class="header-inner-link">Главная</a>
          </li>
          <li class="header-inner-links">
            <a href="#catalog" class="header-inner-link">Каталог</a>
          </li>
          <li class="header-inner-links">
            <a href="#services" class="header-inner-link">Преимущества</a>
          </li>
          <li class="header-inner-links">
            <a href="#footer" class="header-inner-link">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-icon">
          <a href="#">
            <img src="img/whatsapp.png" alt="whatsapp" />
          </a>
        </div>
        <div class="header-mobile-links">
          <a href="#" class="header-mobile-link">+7 727 317 74 17</a>
          <a href="#" class="header-mobile-link">+7 708 191 14 87</a>
        </div>
        <div class="header-callback-row">
          <button class="request-call">Заказать звонок</button>
          <a href="#" class="whatsapp-request">Написать на WhatsApp</a>
        </div>
      </div>
    </div>
  </div>
</header>
