<header class="header">
  <div class="header-container container">
    <div class="header-row">
      <div class="logo">
        <img src="./img/logo.svg" alt="Logo" />
      </div>
      <div class="nav_block">
        <div class="links_block">
          <ul class="links_list">
            <li class="link_item">
              <a href="/catalog">
                <img src="../../img/catalog.svg" alt="Каталог" />
                <span class="second_font">Каталог</span>
              </a>
            </li>
            <li class="link_item">
              <a href="/home">
                <img src="../../img/home.svg" alt="Главная" />
                <span class="second_font">Главная</span>
              </a>
            </li>
            <li class="link_item">
              <a href="/about">
                <img src="../../img/about.svg" alt="О нас" />
                <span class="second_font">О нас</span>
              </a>
            </li>
            <li class="link_item">
              <a href="/chavo">
                <img src="../../img/Chavo.svg" alt="ЧаВо" />
                <span class="second_font">ЧаВо</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="user-block">
          <ul class="user_links">
            <li class="user_link-item">
              <a href="/wishlist"><img src="../../img/heart_outline.svg" alt="Wishlist" /></a>
            </li>
            <li class="user_link-item">
              <a href="/cart"><img src="../../img/cart.svg" alt="Cart" /></a>
            </li>
            <li class="user_link-item">
              <a href="/account"><img src="../../img/user.svg" alt="Account" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
