<article class="cart">
  <div class="cart-container">
    <div class="cart-item">
      <div class="cart-top">
        <a href="#" class="cart-image">
          <img src="@@image" alt="cart-image" />
        </a>
      </div>
      <div class="cart-bottom">
        <h4 class="cart-title">@@name</h4>
        <div>
          <div class="cart-product-info-container">
            <div class="cart-info-block">
              <p class="cart-product-info">Размер: @@size</p>
              <p class="cart-product-info">Тип: @@type</p>
            </div>
            <div class="cart-product-price">@@price</div>
          </div>
        </div>
      </div>
    </div>
    <button class="product-buy-btn">Купить</button>
  </div>
</article>
