<section class="review">
  <div class="review-container">
    <div class="review-container-row">
      <div class="row-left">
        <div class="row-left-inner">
          <div class="left-block-subtitle">ОТЗЫВ</div>
          <div class="left-block-title">Видео-отзыв нашего клиента</div>
          <div class="left-block-text">
            Наши клиенты довольны нашими товарами и рекомендуют их на 100%
          </div>
        </div>
      </div>
      <div class="row-right">
        <div><img src="../img/Whiteboard-Lead.png" alt="Whiteboard-Lead" /></div>
      </div>
    </div>
  </div>
</section>
