<section class="services" id="services">
  <div class="services-container">
    <div class="services-container-row">
      <div class="top-block">
        <div class="block-column">
          <div class="icon-block">
            <img src="../img/credit-card.png" alt="credit-card" />
          </div>
          <h5 class="block-title">Оплата</h5>
          <p class="block-text">Принимаем любые виды оплат: Наличные</p>
          <p class="block-pay-method">Visa / Mastercard</p>
        </div>
        <div class="block-column">
          <div class="icon-block">
            <img src="../img/tag.png" alt="tag" />
          </div>
          <h5 class="block-title">Самые лучшие цены</h5>
          <p class="block-text">Предлагаем Вам лучшие цены на рынке. Нашли место дешевле?</p>
          <p class="block-pay-method">Скажите нам. И мы сделаем еще дешевле</p>
        </div>
      </div>
      <div class="btm-block">
        <div class="block-column">
          <div class="icon-block">
            <img src="../img/inbox.png" alt="inbox" />
          </div>
          <h5 class="block-title">Доставка 1-2 дня</h5>
          <p class="block-text">Бесплатная доставка по всему городу Алматы</p>
          <p class="block-pay-method bold-text">Так же есть доставка по всему РК</p>
        </div>
        <div class="block-column">
          <div class="icon-block">
            <img src="../img/recommended.png" alt="recommended" />
          </div>
          <h5 class="block-title">Гарантия Качества</h5>
          <p class="block-text">Наши доски сделаны из самых прочных и качественных материалов</p>
        </div>
      </div>
    </div>
  </div>
</section>
