.cart {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.33333333%;

  &-container {
    background: #fff;
    min-height: 525px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cart-item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.cart-top {
  .cart-image {
    position: relative;
    display: block;
    padding: 40px;
    text-align: center;
    border: none;

    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      position: relative;
      z-index: 1;
    }
  }
}

.cart-bottom {
  border-top: 1px solid #f2f2f2;
  padding: 35px 40px 18px;

  .cart-title {
    cursor: pointer;
    transition: all 0.2s;
    color: $color-product;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin: 0 0 15px;
    line-height: 140%;
    max-height: 77px;
    overflow: hidden;

    &:hover {
      color: $color-product-hover;
    }
  }

  .cart-product-info-container {
    @include flexbox;
    cursor: pointer;

    .cart-info-block {
      display: block;
      width: 70%;

      .cart-product-info {
        font-weight: 400;
        border-bottom: 1px solid transparent;
        color: #9292b4;
        font-size: 12px;

        &:hover {
          border-color: #9292b4;
        }
      }
    }

    .cart-product-price {
      font-size: 22px;
      color: $color-green;
      text-align: right;
      margin: 0 0 10px;
      font-weight: 700;
      width: 40%;
    }
  }
}

.product-buy-btn {
  background: $button-color;
  width: 100%;
  height: 60px;
  text-align: center;
  color: $color-white;
  font-size: 20px;
  border: none;
}
