.catalog {
  background-color: $background-second;

  .product-cart-container {
    max-width: 1220px;
    display: flex;
    row-gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 50px 10px 30px 10px;

    &-row {
      @include flexbox;

      .catalog-title-row {
        div {
          font-size: 15px;
          font-weight: 700;
          color: $button-color;
          font-family: $font-family-title;
          text-transform: uppercase;
          padding: 0 0 0 3px;
          margin: 0 0 8px;
        }
        h2 {
          position: relative;
          margin: 0 0 12px;
          font-family: $font-family-title;
          font-weight: 700;
          font-size: 34px;
          color: $color-gray;
          line-height: 1.1;
        }
      }

      .catalog-product-number {
        text-align: right;
        text-transform: uppercase;
        font-weight: 700;

        .product-number-inner {
          font-size: 30px;
          color: #b9b9b9;
        }

        .product-number-text {
          color: #b9b9b9;
        }
      }
    }
  }
}
