.form {
  &-container {
    &-row {
      display: flex;
      align-items: center;
      position: relative;

      .row-right {
        background-image: url('../img/4.png');
        position: absolute;
        width: 51%;
        top: 0;
        bottom: 0;
        left: -13px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img {
          max-width: 100%;
          height: auto;
          display: none;
        }
      }
    }
  }
}

.form-row-right {
  width: 100%;
  padding-left: 660px;
  padding-top: 100px;
  padding-bottom: 65px;
  display: flex;
  justify-content: center;
  .row-right-inner {
    .form {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      h2 {
        font-size: 40px;
        font-family: $font-family-title;
        margin-bottom: 35px;
        font-weight: 700;
        color: $color-gray;
      }

      .form-input {
        height: 55px;
        border: none;
        border-radius: 30px;
        background: #f4f5fb;
        font-size: 15px;
        color: #9fa4bb;
        transition: all 0.2s;
        display: block;
        text-align: left;
        width: 100%;
        padding: 0 25px;
        max-width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.form-btn {
  .request-call {
    padding: 11px 32px 12px;
    height: 45px;
    font-size: 15px;
  }
}
