.header {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  height: 100px;
  &-container {
    height: 100%;
    .header-row {
      display: flex;
      align-items: center;
      height: 100%;
      .logo {
        display: flex;
        height: 100%;
        width: 226px;
        padding-right: 57px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          border-right: 1px solid #bbbbbb;
        }
        img {
          width: 100%;
        }
      }
      .nav_block {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        width: 100%;
        .links_block {
          padding-left: 21px;
          .links_list {
            display: flex;
            gap: 52px;
            .link_item {
              a {
                display: flex;
                align-items: center;
                gap: 12px;
                img {
                  height: 36px;
                  width: 36px;
                }
                span {
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 23px;
                }
              }
            }
          }
        }
        .user-block {
          height: 100%;
          .user_links {
            display: flex;
            height: 100%;
            .user_link-item {
              padding: 0px 30px;
              display: flex;
              align-items: center;
              cursor: pointer;
              border-left: 1px solid #bbbbbb;
              &:last-child {
                border-right: none;
              }
              img {
                height: 36px;
                width: 36px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .header {
    height: 44px;
    .header-container {
      .header-row {
        .logo {
          width: 82px;
          min-width: 82px;
        }
        .nav_block {
          .links_block {
            .links_list {
              .link_item {
                border-left: 1px solid #bbbbbb;
                &:not(:first-child) span {
                  display: none;
                }
                a {
                  img {
                    width: 18px;
                    height: 18px;
                  }
                  span {
                    font-size: 9px;
                    line-height: 9px;
                  }
                }
              }
            }
          }
          .user-block {
            .user_links {
              .user_link-item {
                a {
                  img {
                    width: 18px;
                    height: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
