.active {
  display: none !important;
}

.popup {
  width: 320px;
  height: auto;
  position: fixed;
  top: 112px;
  left: 882px;
  opacity: 1;
  overflow: visible;
  z-index: 8030;
  box-shadow: 0 10px 25px rgb(0 0 0 / 50%);
  background: #f9f9f9;
  border-radius: 4px;

  &-container {
    width: 320px;
    height: auto;
    opacity: 1;
    overflow: visible;
    padding: 30px 20px 15px;

    &-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;

      .popup-title {
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: 700;
        color: #283346;

        &::after {
          content: '';
          width: 60px;
          height: 2px;
          background: #6bc67c;
          margin: 0 0 0 -30px;
          left: 50%;
          position: absolute;
          display: block;
          top: 60px;
        }
      }

      .form-input {
        border: 1px solid #e0e4f6;
        border-radius: 3px;
        background: #f4f5fb;
        font-size: 15px;
        color: #9fa4bb;
        transition: all 0.2s;
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 15px 0 15px;
        margin: 0 0 15px;
      }
    }
  }
}

.popup-shadow {
  width: auto;
  height: auto;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.6);
}
