.request {
  background-color: #2a2c3d;
  &-container {
    max-width: 1220px;
    margin: 0 auto;

    &-row {
      padding: 60px 10px 70px 10px;

      .request-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;

        .request-title {
          font-size: 45px;
          color: $color-white;

          span {
            color: $color-green;
          }
        }

        .request-block-btn {
          padding: 15px 70px 15px;
          font-size: 16px;
        }
      }
    }
  }
}
