.services {
  background-color: $background-second;

  &-container {
    max-width: 1200px;
    margin: 0 auto;

    &-row {
      padding: 50px 10px;

      .top-block {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        margin-bottom: 15px;
      }

      .block-column {
        background-color: $background-white;
        padding: 25px 48px 40px;
        width: 100%;
        box-shadow: 0 3px 10px 0 rgb(0 0 0 / 3%);

        .icon-block {
          height: 70px;

          img {
            max-width: 100%;
            height: auto;
          }
        }

        .block-title {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 10px;
          color: $color-gray;
          cursor: pointer;

          &:hover {
            color: $color-green;
          }
        }

        .block-text {
          font-size: 15px;
          color: #686f8a;
          width: 60%;
        }

        .block-pay-method {
          font-size: 15px;
          color: #686f8a;
          margin-top: 5px;
        }

        .bold-text {
          font-weight: 800;
          color: black;
        }
      }

      .btm-block {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        margin-top: 30px;
      }
    }
  }
}
