$font-family-title: 'Montserrat', sans-serif;
$font-family-text: 'Open Sans', sans-serif;

$background-white: #fff;
$background-second: #f1f1fb;

$button-color: #6ac67c;
$button-color-hover: #7dcd8c;

$color-black: rgb(0, 0, 0);
$color-white: #fff;
$color-product: #283346;
$color-product-hover: #6bc67c;
$color-primary: #9292b4;
$color-green: #6bc67c;
$color-gray: #283346;
